# Copyright 2020 - KhulnaSoft Authors <hikhulnasoft@posteo.de>
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=KhulnaSoft Web Analytics

[Service]
ExecStart=/usr/local/bin/khulnasoft
Restart=always

[Install]
WantedBy=multi-user.target
